<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <div class="form-container">
            
            <h2>Update</h2>
            <form action="/api/member/update/<%= item._id %>" method="POST">
                <div class="form-group">
                    <label for="firstname">Firstname:</label>
                    <input type="text" id="firstname" name="firstname" value="<%= item.firstname %>">
                </div>
                <div class="form-group">
                    <label for="lastname">Lastname:</label>
                    <input type="text" id="lastname" name="lastname" value="<%= item.lastname %>">
                </div>
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input type="number" id="age" name="age" value="<%= item.age %>">
                </div>
                
                
            
                <div class="form-group">
                    <label for="dateofbirth">Date of birth:</label>
                    <input type="date" id="date" name="dateofbirth" value="<%= item.dateofbirth %>">
                </div>
                <div class="form-group">
                    <label for="gender">Gender:</label>
                    <label for="Male">Male</label>
                    <input type="radio" id="Male" name="gender" value="Male" <%= item.gender == "Male" ? "checked" : "" %>>
                    <label for="Female">Female</label>
                    <input type="radio" id="Female" name="gender" value="Female" <%= item.gender == "Female" ? "checked" : "" %>>
                </div>
                <button type="submit" class="submit-btn">Edit member</button>
                
        </div>
</body>
</html>