<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= item.firstname %> <%= item.lastname %></title>
    
</head>
<body>
    <div class="info">
        <h1><%= item.firstname %> <%= item.lastname %>'s information</h1>
        <ul>
            <li><%= item.age %></li>
            <li><%= item.dateofbirth %></li>
            <li><%= item.gender %></li>


        </ul>
    </div>
    
</body>
</html>